@mixin dflex($disp: flex, $dir: null, $wrap: null, $just: null, $al-items: null) {
	display: $disp;
	flex-direction: $dir;
	flex-wrap: $wrap;
	justify-content: $just;
	align-items: $al-items;
	@content;
}

@mixin mq($break) {
	$value: map-get($breakpoints, $break);
	$sm: map-get($breakpoints, 'sm');
	@if $value < $sm {
		@media only screen and (max-width: $value) {
			@content;
		}
	} @else {
		@media only screen and (min-width: $value) {
			@content;
		}
	}
}
// Mobile mq and max-width
@mixin mobileMq($width) {
	@media (hover: none) and (max-width:$width) {
		@content;
	}
}

// For Buttons

@mixin portfolioBtn($color){
	background:$color;
	border:$color;
	color:white;
	&:hover{
		background: darken($color,5%);
		color:white;
	}
}