
// Breakpoints
$breakpoints: (
  'xs': 479px,
  'sm': 480px,
 'md': 768px,
  'lg': 992px,
);
$break-s:576px;
// Fonts
$font-stack-primary: 'Lato', sans-serif;

$font-stack-heading: 'Bangers', cursive;

$color-white:#fff;
// Color Scheme

$bg-primary:#FCD647;
$bg-secondary:#192a56;
$bg-tertiary:#E86850 ;

$font-color-primary:#535C68;