// Breakpoints
$breakpoints: (
	'xs': 479px,
	'sm': 576px,
	'md': 768px,
	'lg': 992px
);
// Fonts
$font-stack-primary: 'Nunito', sans-serif;

$color-white: #fff;
// Color Scheme

$color-primary: #45a29e;
$color-secondary: #1f2833;
$color-tertiary: #c5c6c7;
$color-quarternary: #d63031;
$color-gray: #0b0c10;

$font-color-primary: #535c68;
