#experience{
    width:100%;
    @extend %section;
    background:$color-secondary;
    color:$color-white;
    & h2{
        padding-bottom:25px;
        font-weight:900;
    }
    & li{
        color:$color-primary;
    }
}

.experience{
    &-container{@include dflex($just: space-between,$dir:column);
    margin:0 auto;
    max-width:750px;
    padding:15px 0;    
    & div{
        margin-top:25px;
    }
    @include mq('sm'){
        flex-direction: row;
    }
    }
    &-icon{
        color:$color-quarternary;
    }
}