
footer{
    background:$color-secondary;
    color:#fff;
    text-align: center;
    padding:20px 0 5px;
}

.social-icons{
    height:50px;
    @include dflex($just:space-between);
    margin: 0 auto;
    width:100px;
    cursor:pointer;
    & img{
        width:20px;
    }
}
.social-icon{    opacity:0.3;}
.social-icon:hover{
	opacity:1;
	transform: scale(1.2);
}
