header {
	background: url('https://www.transparenttextures.com/patterns/brushed-alum.png') $color-primary;
	height: 100vh;
	width: 100%;
	padding: 100px 0;
	@include dflex($dir: column) {
		align-items: center;
	}
	@include mq('sm'){
		height:750px !important;
	}
}
.header-text {
	color: $color-white;
   font-size: 2.75em;
   font-weight:900;
	margin-top: 2.5em;
	width: 280px;
	text-align: center;
	transition: width ease 2s;
	@include mq('md') {
		width: 450px !important;
	}
}

.fa-chevron-down {
   animation-duration: 2s;
   animation-delay:1s;
	animation-iteration-count: infinite;
	color: $color-white;
}
.down{
	opacity:0;
	margin-top: auto;
	transition: opacity .5s ease;
	&:hover{cursor: pointer;}
}
.typed {
   font-weight:200;
	font-size:32px;
	margin: 0;
	color: $color-secondary;
	&-container {
		text-align: center;
	}
}
.typed-cursor {
	font-size: 1.2em;
}
