.main-nav{
   @include dflex($just:space-between)
   {
       align-items: center;
       justify-content: flex-end;
   };
   padding:15px;
   background-color:transparent;
      width:100%;
      position: absolute;

}

.nav-links a{
    color:$font-color-primary;
    margin-right:2em;
    font-size:20px;
}