/*===============
	Nav Styling */
.nav-wrapper{
	width:100%;
	position:absolute;
	background:transparent;
}
.main-nav {
	@include dflex() {
		align-items: center;
	}
	padding: 15px 0;
	width: 90%;
	margin:0 auto;
}
nav {
	& a {
		color: $color-white;
		font-size: 20px;
	}
}
.logo {
	width: 50px;
	height: 50px;
	transform: rotate(0deg);
	margin-right:auto;
}
// TODO: Scale image
.logo:hover {

}

.nav-links {
	display: flex;
	align-items: center;
    flex-direction: row;

    & a{
        display: none;
        @include mq('md') {
			// All links but not last has right margin
			&:not(:last-child){
			margin-right: 2em;
			}
			display:block;
			}
	    }
    }

.mobile-button{
	display:block;
	@include mq('md'){
		display:none;
	}
}
