/*===============
	Nav Styling */
.nav-wrapper {
	animation-duration: 1s;
	width: 100%;
	position: absolute;
	background: transparent;
	position: fixed;
	transition: background 0.5s ease-out;
	z-index: 2;
}
.main-nav {
	padding: 15px 0;
	margin: 0 auto;
	@include mq('md') {
		flex-direction: row;
		align-items: center;
	}
}

a.nav-link {
	color: rgba(255, 255, 255, 0.7);
}
nav a:hover {
	color: $color-tertiary !important;
}
.active {
	color: #fff !important;
}
nav {
	& a {
		cursor: pointer;
		font-size: 20px;
	}
}

.nav-links {
	@include mq('md') {
		@include dflex($just: space-between);
		width: 450px;
	}
}
.logo {
	width: 50px;
	height: 50px;
	order:1;
@include mq('sm'){
	margin-left:auto;
	margin-right:0;
	order:0;
}
}

.fa-bars {
	color: white;
}
