#portfolio{
    background:$color-tertiary;
    @extend %section;
}

.portfolioCards {
    @include dflex($wrap:wrap);
    margin: 0 auto;
    max-width:1200px;
    justify-content: center;
    text-align: left;
  }

.portfolio-buttons{
    @include dflex($just:space-around);
& a{
    width: 45%;
}
}

.row{
    margin:0 auto;
}