#portfolio{
    @extend %section;
    overflow: hidden;
}

.portfolioCards {
    @include dflex($wrap:wrap);
    margin: 0 auto;
    max-width:1200px;
    justify-content: center;
    text-align: left;
  }
  .card{
      margin-top:1.5em;
    -webkit-box-shadow: 2px 2px 6px 0px rgba(0,0,0,0.3);
    -moz-box-shadow: 2px 2px 6px 0px rgba(0,0,0,0.3);
    box-shadow: 2px 2px 6px 0px rgba(0,0,0,0.3);
  }
  .card-body{
      background:$color-tertiary;
    @include dflex($dir:column){
        align-content: center;
    };
    @include mq('md'){min-height:255px;}
  }
  .card-title{
    font-weight:800;
}
.portfolio-buttons{
    margin-top:auto;
    @include dflex($just:space-around);
& a{
    width: 45%;
}
}

.row{
    margin:0 auto;
}

.btn-demo{
    @include portfolioBtn($color-primary);

}
.btn-code{
   @include portfolioBtn($color-secondary);
}

